.singleProductContainer2 {
    display: grid;
    
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    grid-column-gap: 20px;
    /* margin-bottom: 5px; */
    /* padding-bottom: 5px; */

    align-items: center;

}
.twoColoumn2 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    text-align: start;
}